body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.boreder1{
  width: 400px;
  height:50px;
  background-color:aquamarine

}
h5{
  text-align: center;
}
.boreder0{
margin-left: 300px;
}
.boreder2{
  width: 400px;
}
.boreder3{
  width: 400px;
}
.boreder4{
  margin-top: 10px;
}

